<!DOCTYPE html>
<html lang="pt-br" ng-app="painel">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Guichês</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/justified-nav.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="assets/mainCore.js"></script>
    <script src="assets/mainService.js"></script>
    <script src="assets/mainController.js"></script>
</head>
<body>
<div class="container">
    <div class="masthead">
        <div class="col-md-6"><img src="img/logo_cabecalho.png" style="width: 50%"></div>
        <div class="col-md-6" align="right" ng-controller="usuarioController" ng-init="validarUsuario()"><br/>{{nomeUsuario}} <button class="btn" style="background-color: #711955; color: white" ng-click="deslogarUsuario()">SAIR </button></div>
        <div class="clearfix"></div>
        <br/>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a style="background-color: #711955; color: white" href="menu_adm.html">INÍCIO</a></li>
                <li class="active"><a style="background-color: #711955; color: white" href="usuarios_adm.html">USUÁRIOS</a></li>
                <li class="active"><a style="background-color: #711955; color: white" href="guiches_adm.html">GUICHÊS</a></li>
                <li class="active"><a style="background-color: #711955; color: white" href="atendimento_adm.html">ATENDIMENTOS</a></li>
                <li class="active"><a style="background-color: #711955; color: white" href="painel_adm.html">PAINEL</a></li>
            </ul>
        </nav>
    </div>
    <h2 align="center">Gerenciar Guichês</h2>
    <div ng-controller="guicheController">
        <div class="col-md-3">
            <h3 align="center">Cadastro de Guichê</h3>
            <form>
                Nome:<input class="form-control" type="text" placeholder="Nome.." ng-model="guiche.nome"><br/>
                Descrição:<textarea class="form-control" placeholder="Descrição.." ng-model="guiche.descricao"></textarea>
                <p style="color: red">{{resposta}}</p>
                <button class="btn" style="background-color: #711955; color: white" ng-click="salvarGuiche()">SALVAR</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8" ng-init="buscarGuiches()">
            <h3 align="center">Lista de Guichês</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>NOME</th>
                        <th>DESCRIÇÃO</th>
                        <th>EDITAR</th>
                        <th>EXCLUIR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="guiche in guiches">
                        <td>{{guiche.nome}}</td>
                        <td>{{guiche.descricao}}</td>
                        <td><a ng-click="editarGuiche(guiche)">Editar Dados</a></td>
                        <td><a ng-click="removerGuiche(guiche)">Excluir Guichê</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>