<!DOCTYPE html>
<html lang="pt-br" ng-app="painel">
<head>
    <meta charset="UTF-8">
    <title>Painel Informativo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/justified-nav.css" rel="stylesheet">
    <link href="css/bootstrap-horizon.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="assets/mainCore.js"></script>
    <script src="assets/mainService.js"></script>
    <script src="assets/mainController.js"></script>
</head>
<body ng-controller="atendimentoController" style="background-image: url('images/fundo.png'); font-family: Candara">
<div class="col-md-1"></div>
<div class="col-md-10">
    <div id="cabecalho" class=" jumbotron" style="background-color: white; border-radius: 30px">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3" ng-init="buscarInformacoes()" align="left">
                <h3>{{linha1}}</h3>
                <h3>{{linha2}}</h3>
                <h3>{{linha3}}</h3>
            </div>
            <div class="col-md-4">
                <img src="images/logo.png" style="height: 150px; width: 450px">
            </div>
            <div class="col-md-3" align="right">
                <br/><br/>
                <img src="img/logo_cabecalho.png" style="height: 75px; width: 225px">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
        <h1 align="center" style="color: white">NOVO ATENDIMENTO</h1>
        <div class="col-md-12" style="background-color: white; border-radius: 30px">
            <h1 align="center">SENHA:</h1>
            <h1 style="font-family: alex_brushregular" align="center">123456</h1>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="col-md-12" style="background-color: white; border-radius: 30px">
            <h1 align="center">GUICHÊ:</h1>
            <h1 style="font-family: alex_brushregular" align="center">Guichê 01</h1>
        </div>
    </div>
    <div class="col-md-6" ng-init="buscarAnuncioPrincipal()">
        <div class="col-md-1"></div>
        <div id="imagem" class="col-md-11" style="background-color: white; border-radius: 30px; height: 370px" align="center">
            <br/>
            <img src="images/anuncio.png" style="width: 600px; height: 330px">
        </div>
        <div id="video" class="col-md-11" style="background-color: white; border-radius: 30px;" align="center">
            <br/>
            <iframe width="90%" height="370" src="https://www.youtube.com/embed/{{urlVideo}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div id="atendendo" ng-controller="guicheController" ng-init="buscarGuiches()">
        <h1 align="center" style="color: white">SENHAS EM ATENDIMENTO</h1>
        <!--<div class="row row-horizon">
            <div class="col-md-3" ng-repeat="gui in guiches" align="center">
                <div class="col-md-1"></div>
                <div style="background-color: white; border-radius: 30px" class="col-md-10">
                    <h1 style="font-family: alex_brushregular">{{gui.nome}}</h1>
                    <h1 style="font-family: alex_brushregular">X0000</h1>
                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="col-md-3" ng-repeat="gui in guiches" align="center">
                <div class="col-md-1"></div>
                <div style="background-color: white; border-radius: 30px" class="col-md-10">
                    <h1 style="font-family: alex_brushregular">{{gui.nome}}</h1>
                    <h1 style="font-family: alex_brushregular">X0000</h1>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>-->
        <div class="col-md-3" ng-repeat="gui in guiches" align="center">
            <div class="col-md-1"></div>
            <div style="background-color: white; border-radius: 30px" class="col-md-10">
                <h1 style="font-family: alex_brushregular">{{gui.nome}}</h1>
                <h1 style="font-family: alex_brushregular">X0000</h1>
            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="clearfix"></div>
    </div>

</div>
<div class="col-md-1"></div>

</body>
</html>