<!DOCTYPE html>
<html lang="pt-br" ng-app="painel">
<head>
    <meta charset="UTF-8">
    <title>Emissor de Senhas</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/justified-nav.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="assets/mainCore.js"></script>
    <script src="assets/mainService.js"></script>
    <script src="assets/mainController.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script>
        function imprimir(tipo){
            alert(tipo);
        }
    </script>
</head>
<body style="font-family: Candara">
<div class="container">
    <div class="masthead">
        <div class="col-md-6"><br/><br/><img src="img/logo_cabecalho.png" style="width: 50%"></div>
        <div class="col-md-6" align="right"><img src="images/logo.png" style="width: 300px; height: 100px"><a ng-controller="usuarioController" href="" ng-click="deslogarUsuario()">Sair</a></div>
        <div class="clearfix"></div>
        <br/>
        <hr/>
    </div>
    <h2 align="center">SELECIONE O ATENDIMENTO PARA IMPRIMIR</h2>
    <div ng-controller="atendimentoController" ng-init="buscarTiposAtendimento()">
        <div class="col-md-4" ng-repeat="at in atendimentos" align="center">
            <div class="col-md-1"></div>
            <a href=""><div ng-click="imprimirSenha('{{at}}')" class="col-md-10" style="background-color: #711955; color: white; height: 150px; border-radius: 30px;">
                <h2>{{at.nome}}</h2><h2><i class="glyphicon glyphicon-print"></i></h2>
            </div></a>
            <div class="col-md-1"></div>

        </div>
    </div>

</div>
</body>
</html>